---
---

@import "minima";

.home > h4 {
  color: #d30102;
  font-family: Consolas, Monaco, monospace;
  font-size: 18px;
  margin-top: -4px;
}

.post-content {
  p {
    //margin-bottom: 20px;
    //line-height: 2;
  }

  blockquote {
	  letter-spacing: 0px;
  }

  code {
	font-size: 17px;
  }
}

.artdate {
	color: #586e75;
	font-size: 15px;
	width: 90px;
	display: inline-block;
	margin-bottom: 20px;
}

.artdate_main {
	color: #586e75;
	font-size: 15px;
	width: 90px;
	display: inline-block;
	//margin-bottom: 20px;
}

article div:last-of-type {
  margin-top: 30px;
}

body {
	font-size: 18px;
	background-color: #fdf6e3;
	//color: #ff0000;
}

a {
	color: #268bd2;
}
a:visited {
	color: #268bd2;
}
a:hover {
	color: #6c71c4;
}

.site-header {
	border-top: none;
	border-bottom: none;
}
.site-footer {
	border-top: none;
	padding: 0;
}
